@{ 
    ViewBag.Title = "Control Papelería \"El Cartoncito\"";
    Layout= "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    <span id="nombremodulo">Inicio</span>
    <small>
        <span id="descripcionmodulo"></span>
    </small>
</h3>
@*<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Inicio">Control Papelería</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#" id="idmodulo">Inicio</a>
        </li>
    </ul>
</div>*@
<div class="row" id="contents">

</div>
